*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

main{
    background-color: aqua;
}


header{
    height: 80px;
    padding: 10px;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-header h1{
    display: inline-block;
    vertical-align: middle;
}

img{
    width: 5%;
    vertical-align: middle;
}


#special-button{
    padding: 5px 25px;
}

footer{
    height: 50px;
    padding: 20px;
}

footer h4{
    display: inline-block;
}

main{
    height: calc(100vh - 130px);
}